.CONTENT_STYLE {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.filter-content {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 7px;

    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}

.filter-img {
    height: 17px;
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

.DateRangePickerInput__withBorder, input[type="text"], input[type="number"] {
    border: none;
}

#component-statistics-date-picker-range .DateInput_input,
.form-control, .filter-text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    padding: 6px 12px;
    text-align: center;
}

#user-update-button-2, #user-update-button-3,
#statistics-update-button-1, #statistics-update-button-2 {
    height: 50px;
    display: flex;
}

#user-update-button-2 div, #user-update-button-3 div,
#statistics-update-button-1 div, #statistics-update-button-2 div {
    align-items: center;
    justify-content: center;
    display: flex;
}

#component-statistics-date-picker-range .DateInput_input__focused {
    border-bottom: 2px solid #0AA66D
}

.tab-content {
    margin: 20px
}
